@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

img {
    width: 100%;
}

ul {
    display: flex;

}

li {
    list-style-type: none;
}

#landing {
    background-color: antiquewhite;
}

.purple {
    color: #7342d6;

}

/* NAVIGATION BAR */

nav {
    height: 80px;
    display: flex;
}

.nav__container {
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.logo {
    width: 160px;
}

.nav__link {
    margin-left: 16px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-weight: bold;
    padding: 8px;
}

.nav__link:hover {
    text-decoration: underline;
}

.nav__link--primary {
    border: 2px solid black;
    border-radius: 4px;
}

.nav__link--primary:hover {
    text-decoration: none;
}

/* HEADER */

header {
    min-height: calc(100vh - 80px);
}

.header__container {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

h1 {
    font-size: 56px;
    color: #7342d6;
    margin-bottom: 24px;
    text-align: center;
  }

h2 {
    font-size: 32px;
    margin-bottom: 32px;
    text-align: center;
}
